

#titulo{
    text-align: center;
    color: silver;
}

h2{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    
}

img{
    border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
  width: 315px;
    
     display: block;
  margin-left: auto;
  margin-right: o;
    
    position: absolute;
    top: 11%;
    left: 1018px;
  
}

#parrafo1{
margin-right: 100px;
    width: 1000px;
    
}

caption{
    background-color: orange;
}

table{
    width: 25%;    
}

#letra1{
    color: orange;
    
}
#letra2{
    color: orange;
    
}
#letra3{
    color: orange;
    
}
#letra4{
    color: orange;
    
}

#letra5{
    color: orange;
    
}
#letra6{
    color: orange;
    
}
#letra7{
    color: orange;
    
}
video {
  width: 25%;
  height: auto;
}